<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menú</div>
                <a class="nav-link" routerLink="./documento" routerLinkActive="active">
                    <div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
                    Documento
                </a>
                <a class="nav-link" routerLink="./usuario" routerLinkActive="active">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-alt"></i></div>
                    Usuario
                </a>
                <a class="nav-link" routerLink="./envelope" routerLinkActive="active">
                    <div class="sb-nav-link-icon"><i class="fas fa-folder-open"></i></div>
                    Envelope
                </a>
                <a class="nav-link cursor-pointer">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                    Salir
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>